# OS-specific files
.DS_Store
Thumbs.db

# Terraform files and directories
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfplan
.terraform.lock.hcl

# Ansible files and directories
.ansible/
*.retry
*.log

# Python/Bash script ignores
__pycache__/
*.pyc
venv/

# General ignores
# Add any specific temporary files here
